<VirtualHost *:80>
    ServerName domain.test
    ServerAlias *.domain.test

    RewriteEngine On
    RewriteCond %{HTTPS} !on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName domain.test
    ServerAlias *.domain.test
    DocumentRoot /var/www/
    Options Indexes FollowSymLinks

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/ssl_site.crt
    SSLCertificateKeyFile /etc/apache2/ssl/ssl_site.key

    <Directory "/var/www/">
      AllowOverride All
      Require all granted
    </Directory>

    ErrorLog /var/log/apache2/domain.test_error.log
    CustomLog /var/log/apache2/domain.test_access.log combined
</VirtualHost>
